Dataset
Posture
Correct_Posture
Incorrect_Posture
Posture_Data
dataset.HumanPose.KeypointCoordinates.xlsx
dataset.HumanPose.SampleImages.zip
Dataset
data
dataset.pkl
Testing data
best_model.h5
test_dataset.pkl
test_dataset.pkl
Posture_Model.h5
anishDataset.pkl